{
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"],
      "presets": [["@babel/preset-react", { "development": true }]]
    },
    "production": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "debug": true,
            "spec": true,
            "modules": false,
            "useBuiltIns": "usage",
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7", "ie >= 9"]
            }
          }
        ]
      ]
    }
  }
}
